<h2>Contact Us</h2>

<p>We'd love to hear from you! Feel free to reach out using the methods below:</p>

<ul>
    <li>
        <a href="tel:+917406202202">
            <i class="fas fa-phone"></i> Call Us: +91 7406202202
        </a>
    </li>
    <li>
        <a href="https://wa.me/+917406202202">
            <i class="fab fa-whatsapp"></i> WhatsApp: +91 7406202202
        </a>
    </li>
    <li>
        <a href="mailto:teluguonlineworldteaching@gmail.com">
            <i class="fas fa-envelope"></i> Email: teluguonlineworldteaching&#64;gmail.com
        </a>
    </li>
</ul>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdIsKyUSvi_V2Y-fMfZpPOujkhBE7H8JOqk3rTdDG7sC8UwXA/viewform?embedded=true" width="100%" height="600px" frameborder="0"
        marginheight="0" marginwidth="0">Loading…</iframe>
